body {
    direction: rtl;
}

header .container {
    padding-inline: 30px;
}

@media (max-width: 600px) {
    header .container {
        padding-inline: 20px;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    text-decoration: none; 
    color: #444;
}

nav a:hover {
    color: #0d6efd;
}

h4{
  direction: ltr;
}
/* .suggestion-container {
    position: relative; 
}

.suggestions {
    visibility: hidden;
    position: absolute; 
    border: 1px solid #ddd; 
    max-height: 300px;
    overflow-y: auto;
    width: 100%; 
    background-color: white;
    z-index: 3;
}

.suggestion-item {
    color: #777; 
    padding: 8px;
    cursor: pointer;
} */

.card {
    overflow: hidden; 
    height: 100%; 
}

.img-container {
    position: relative;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0; 
}

.card-body {
  display: flex;
  flex-direction: column;
  /* height: 100%;  */
}

.brand {
    font-size: 1.2rem;
    display: flex;
    gap: 7px; 
}

p.brand,
p.fixed {
    color: #555; 
    font-weight: 700; 
    margin-bottom: 0; 
}

p.price {
    font-size: 1.5rem;  
    font-weight: bold; 
    color: red; 
    display: flex; 
    gap: 10px; 
    margin-bottom: 0;
}

.purchase {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-top: 20px;
}
.whatsapp-btn {
    text-decoration: none; 
    color: white; 
    background-color: green; 
    font-weight: bold; 
    padding: 8px 30px 15px; 
    font-size: 1.2rem;
    border-radius: 10px; 
    cursor: pointer;
    width: 60%; 
}

input[type='search'] {
    margin-inline: 10px;
    padding: 15px;
    text-align: right;
}

